<div class="container">
    <p>Customer</p>

    <table>
        <tr>
            <th>CustomerId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>
                <select name="questionId" id="questionId" class="form-control" (change)="onClick($event)">
                    <ng-container>
                        <option value="Active">Active</option>
                        <option value="Block">Block</option>
                    </ng-container>
                </select>
                 
            </td>
            <td><a href="">See more</a></td>
        </tr>

    </table>
</div>