.nav-bar {
  padding: 10px 0;
  width: 100%;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
  margin: 0 30px;
  width: 95%;
}

.navbar-center {
  text-align: center;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav .nav-link {
  font-size: 20px;
  color: #000;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-right {
  text-align: right;
}

.navbar-right a {
  font-size: 25px;
  color: #000;
}

.navbar-right a:hover {
  color: #007bff;
}
