<div class="nav-bar navbar-light bg-light sticky-header">
  <div class="nav-container d-flex justify-content-between align-items-center">
    <div class="navbar-left flex-fill">
      <a href="/" class="navbar-brand">
        <img src="assets/Images/logo.webp" alt="Logo" style="height: 60px" />
      </a>
    </div>

    <div class="navbar-center text-center flex-fill" style="width: 50%">
      <ul
        class="navbar-nav d-flex flex-row justify-content-between text-uppercase"
      >
        <li class="nav-item mx-2">
          <a class="nav-link active" href="#">Trang Chủ</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Giày Nam</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Giày Nữ</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Phụ Kiện</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
    </div>

    <div class="navbar-right text-right flex-fill">
      <a href="#" class="me-3"><i class="bi bi-search"></i></a>
      <a href="#" class="me-3"><i class="bi bi-person"></i></a>
      <a href="#" class="me-3"><i class="bi bi-cart"></i></a>
    </div>
  </div>
</div>
