
<body>
    <div class="navbar">
        <ul>
            <li>Admin</li>
            <li tabindex="0" (click)="onClick(1)">Trang chủ</li>
            <li tabindex="0" (click)="onClick(2)">Sản Phẩm</li>
            <li tabindex="0" (click)="onClick(3)">Thương Hiệu</li>
            <li tabindex="0" (click)="onClick(4)">Bài Viết</li>
            <li tabindex="0" (click)="onClick(5)">Đơn Hàng</li>
            <li tabindex="0" (click)="onClick(6)">Người Dùng</li>
            <li tabindex="0" (click)="onClick(7)">Liên hệ</li>
        </ul>
    </div>

    <div class="content">
        <div class="topbar">
            <i class="fa-solid fa-bars iconbar"></i>
            <div class="right-content">
                <i class="fa-regular fa-user"></i>
                <p>Admin</p>
            </div>
        </div>
    </div>
</body>

