<div class="container mt-4 p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <img
          [src]="selectedImage"
          alt="Product Image"
          class="img-fluid border rounded"
          style="max-height: 400px"
        />
      </div>
    </div>

    <div class="col-md-6">
      <h4>{{ product.name }}</h4>
      <p class="text-muted">{{ product.category }}</p>
      <h5 class="text-danger">{{ product.price | number }} VNĐ</h5>
      <div class="mt-3">
        <p>Size</p>
        <div class="d-flex flex-wrap gap-2">
          <button
            *ngFor="let size of sizes"
            type="button"
            class="btn btn-outline-secondary btn-sm"
            [class.active]="selectedSize === size"
            (click)="selectSize(size)"
          >
            {{ size }}
          </button>
        </div>
      </div>
      <div class="mt-4 d-flex align-items-center">
        <button class="btn btn-outline-secondary" (click)="decreaseQuantity()">
          -
        </button>
        <input
          type="number"
          [(ngModel)]="quantity"
          class="form-control text-center mx-2"
          style="width: 60px"
        />
        <button class="btn btn-outline-secondary" (click)="increaseQuantity()">
          +
        </button>
        <button class="btn btn-dark ms-3">
          <i class="bi bi-cart-plus"></i> Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
