<div class="container">
    <p class="text">Tổng quan</p>

    <div class="overview">
        <div class="box">
            <p class="quantity">12</p>
            <p class="text text-sanpham">Sản phẩm</p>
            <div class="bottom-box" id="bt1">
                <p>Chi tiết</p>
                <i class="fa-solid fa-caret-right"></i>
            </div>
        </div>

        <div class="box">
            <p class="quantity">20</p>
            <p class="text text-sanpham">Thương Hiệu</p>
            <div class="bottom-box" id="bt2">
                <p>Chi tiết</p>
                <i class="fa-solid fa-caret-right"></i>
            </div>
        </div>

        <div class="box">
            <p class="quantity">8</p>
            <p class="text text-sanpham">Bài Viết</p>
            <div class="bottom-box" id="bt3">
                <p>Chi tiết</p>
                <i class="fa-solid fa-caret-right"></i>
            </div>
        </div>

        <div class="box">
            <p class="quantity">4</p>
            <p class="text text-sanpham">Người Dùng</p>
            <div class="bottom-box" id="bt4">
                <p>Chi tiết</p>
                <i class="fa-solid fa-caret-right"></i>
            </div>
        </div>

        <div class="box">
            <p class="quantity">12</p>
            <p class="text text-sanpham">Đơn hàng</p>
            <div class="bottom-box" id="bt5">
                <p>Chi tiết</p>
                <i class="fa-solid fa-caret-right"></i>
            </div>
        </div>

        <div class="box">
            <p class="quantity">12</p>
            <p class="text text-sanpham">Sản phẩm</p>
            <div class="bottom-box" id="bt6">
                <p>Chi tiết</p>
                <i class="fa-solid fa-caret-right"></i>
            </div>
        </div>
    </div>
</div>
